<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="calculator" solid></cds-icon>
        <span class="title">Personal Inflation Calculator</span>
      </a>
    </div>
  </header>
  <clr-alert size="sm" [clrAlertAppLevel]="true">
    <clr-alert-item>
      Inspired by Vivek Bajaj
    </clr-alert-item>
  </clr-alert>

  <div class="maindiv m-2">
    <p class="text"><strong>Current Inflation (CPI): </strong> {{cpi}} %</p>
    <p class="text"><i>(Updated {{lastUpdate}})</i></p>

    <div class="btn-group">
      <div class="radio btn">
        <input (change)="handleTypeChange($event)" type="radio" name="type" id="rural" />
        <label for="rural">Rural</label>
      </div>
      <div class="radio btn">
        <input (change)="handleTypeChange($event)" type="radio" name="type" id="urban" />
        <label for="urban">Urban</label>
      </div>
      <div class="radio btn">
        <input (change)="handleTypeChange($event)" type="radio" name="type" id="combined" checked />
        <label for="combined">Combined</label>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount </th>
          <th>% of Total Budget </th>
          <th>Current Inflation Rate</th>
          <th>Personal Inflation Rate</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let row of rows">
          <tr>
            <td>{{row.category}}</td>
            <td>
              <div class="align-center">
                <input clrInput placeholder="Enter some amount" name="input" type="number" [min]="0"
                  [(ngModel)]="row.amount" (keyup)="update($event)" />
              </div>
            </td>
            <td>{{( row.amount / totalBudget) * 100 | number : '1.2-2' }}%</td>
            <td>{{(type == 'rural' ? row.ruralInflation : type == 'urban'? row.urbanInflation : row.combinedInflation) |
              number : '1.2-2' }}%</td>
            <td>{{ ((type == 'rural' ? row.ruralInflation : type == 'urban'? row.urbanInflation : row.combinedInflation)
              * ((
              row.amount / totalBudget))) | number : '1.2-2' }}%</td>
          </tr>
        </ng-container>

        <tr>
          <th>Total</th>
          <th>{{totalBudget | currency : 'INR' }}
          </th>
          <th>100%</th>
          <th>{{cpi | number : '1.2-2' }}%</th>
          <th>{{personalInflation | number : '1.2-2' }}%</th>
        </tr>
      </tbody>
    </table>

    <p class="min-text"><i>(Source: <a href="http://{{source}})">{{source}})</a></i></p>

    <div class="payment"></div>

  </div>



  <div class="footer">
    <p class="text footer-text">Created with 💖 by <a href="http://twitter.com/mtwn105"><b>Amit Wani</b></a> </p>
  </div>

</div>